<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SquirrelUpdateLocation" value="C:\Deploy\SquirrelApps\SloVVo"/>
  </appSettings>
  <connectionStrings>
    <add name="SlovoConnectionString"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=SloVVo; Integrated Security=true"/>
  </connectionStrings>
</configuration>