<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SquirrelUpdateLocation" value="https://83.229.69.110/SloVVo/Setup.exe"/>
  </appSettings>
  <connectionStrings>
    <add name="SlovoConnectionString"
         providerName="System.Data.SqlClient"
         connectionString="Server=83.229.69.110\\Slovvo,1433;Database=SlovvoData;User Id=SlovvoUsr;Password=2Vn$7QpD3CyDQk2!;"/>
  </connectionStrings>
</configuration>