<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.6.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net461" />
  <package id="FontAwesome5" version="2.1.4" targetFramework="net461" />
  <package id="InformationBox" version="1.2.0.91" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.13.2" targetFramework="net461" />
  <package id="MaterialDesignColors" version="2.0.1" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="4.1.0" targetFramework="net461" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net461" />
  <package id="Ninject" version="3.3.4" targetFramework="net461" />
  <package id="NLog" version="4.7.11" targetFramework="net461" />
  <package id="Notification.Wpf" version="5.4.0" targetFramework="net461" />
  <package id="Notifications.Wpf" version="0.1.1" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net461" />
</packages>